<h1>Route <%= params[:id] %></h1>

<h3><em><%=@street%></em></h3>

<h3>Stats:</h3>
<dl class="dl-horizontal">
  <dt>Total Boardings:</dt> <dd><%= @boardings.floor %> </dd>
  <dt>Total Alightings:</dt> <dd><%= @alightings.floor %></dd>
</dl>


<h3>Stops (<%= @bus_stops.length %>):</h3>


<table class="table table-striped"/>

  <tr>
    <th>Stop ID</th>
    <th>On Street</th>
    <th>Cross Street</th>
    <th>Boardings</th>
    <th>Alightings</th>
    <th>Location</th>
  </tr>

  <% @bus_stops_paginated.each do |stop| %>

    <tr>
      <td><%= link_to "#{stop.stop_id}", bus_stop_path(stop.stop_id) %></td>
      <td><%= stop.on_street %></td>
      <td><%= stop.cross_street %></td>
      <td><%= stop.boardings %></td>
      <td><%= stop.alightings %></td>
      <td>(<%=stop.loc_lat%>, <%=stop.loc_long%>)</td>
    </tr>

  <% end %>

</table>

<%= will_paginate @bus_stops_paginated %>

