
<h1>All Bus Stops</h1>

<h4>
   <%= link_to "View stops on most routes", bus_stops_stopcounts_path %>  
</h4>



<%= will_paginate @bus_stops %>

<table class="table table-striped"/>

  <tr>
    <th>Stop ID</th>
    <th>On Street</th>
    <th>Cross Street</th>
    <th>Boardings</th>
    <th>Alightings</th>
    <th>Location</th>
  </tr>

  <% @bus_stops.each do |stop| %>

    <tr>
      <td><%= link_to "#{stop.stop_id}", bus_stop_path(stop.stop_id) %></td>
      <td><%= stop.on_street %></td>
      <td><%= stop.cross_street %></td>
      <td><%= stop.boardings %></td>
      <td><%= stop.alightings %></td>
      <td>(<%=stop.loc_lat%>, <%=stop.loc_long%>)</td>
    </tr>

  <% end %>



</table>









<%= will_paginate @bus_stops %>